doctype html
html
    head
        title Sign Up
        link(rel='stylesheet', href='/semantic/dist/semantic.css')
    body
        .ui.middle.aligned.center.aligned.grid
            .column(style='max-width: 500px; margin-top: 50px')
                block content

        script(src='/jquery/dist/jquery.min.js')
        script(src='/semantic/dist/semantic.js')
